<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Automatische Aktualisierung der Währungskurse (EZB)</label>
    <label lang="en">Automated Exchange rates update (ECB)</label>
    <version>1.0.1</version>
    <copyright>(c) Die Shopwehr</copyright>
    <license>proprietary</license>
    <link>https://shopwehr.de</link>
    <author>Die Shopwehr</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>